body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login {
  margin: 0 auto;
  padding-top: 200px;
  width: 30%;
}

html, body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

.carousel-3d-slide {
  background-color: transparent!important;
  border-style: none!important;
}

.vue-friendly-iframe {
  width: 100%;
  height: 92%;
}

#app {
  height: 100%;
}

.xmov {
  &-container {
    height: 100%;
  }
  &-header {
    padding: 0;
    box-shadow: 4px 4px 40px 0 rgba(230, 230, 230);
  }
  &-aside {
    color: #fff;
    background-color: #001529;
    box-shadow: inset -1px 0 0 #e6e6e6;
  }
  &-main {
    padding: 0 8px;
    background-color: #f2f2f2;
    overflow: scroll;
  }
}

.app {
  &-header {
    padding: 0 8px;
    display: flex;
    &__logo {
      height: 61px;
      color: #fff;
      font-size: 32px;
      line-height: 60px;
      text-align: center;
      text-shadow:
        1px 1px 1px #999,
        2px 2px 2px #888;
    }
    &__menu {
      // padding-left: 16px;
      flex: 1;
      line-height: 60px;
    }
    &__user {
      line-height: 60px;
    }
  }
}